* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

.printer-wrapper {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;

  background: linear-gradient(
      rgba(199, 207, 199, 0.5),
      rgba(236, 255, 176, 0.5)
    ),
    url("../images/image1.jpg");

  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-position: center center;
}

.display-button-div {
  margin: 1em;
}

.printer-div {
  display: none;
}

.printer-display-none-div {
  display: none;
}

#settings-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings-main-div {
  width: 10em;
  height: 10em;
  background-color: #ffb600;
}

.title-div {
  /* margin-bottom: 1em; */
  padding-top: 10em;
  margin: 0 auto;
  text-align: center;
  color: #ffb600;
}

.first-botton-div {
  /* margin-top: 2.2em; */
}

.sdc-buttons-div {
  margin: 1em;
}

.example_a {
  width: 160px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffb600;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  opacity: 0.9;
  transition: all 0.4s ease 0s;
}

.example_a:hover {
  background: #434343;
  letter-spacing: 0.7px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}
