* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

.home-section {
  background: rgba(162, 164, 164, 0.9);
  /* background: linear-gradient(
      rgba(199, 207, 199, 0.5),
      rgba(236, 255, 176, 0.5)
    ), */
  /* url("../images/image1.jpg"); */
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-position: center center;
}

#top-camera-div {
  margin-top: 5em;
}

.title-div {
  margin: 0 auto;
  text-align: center;
  color: #262626;
  opacity: 0.8;
  padding: 1em;
  margin-bottom: 1em;
}

.camera-buttons-div {
  margin: 1em;
}

.example_a {
  width: 160px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  background: #f2c64e;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  opacity: 0.9;
  transition: all 0.4s ease 0s;
}

.example_a:hover {
  background: #434343;
  letter-spacing: 0.7px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.cameraSelectDiv {
  display: none;
}

.displaySelectDiv {
  display: none;
}

.specialtySelectDiv {
  display: none;
}

.display-button-div {
  margin: 1em;
}

.specialty-button-div {
  margin: 1em;
}

#specialtyTopDiv {
  margin-top: 5em;
}

#ccuSettingsTopDiv {
  margin-top: 5em;
}

#monitorSettingsTopDiv {
}

.monitor-main-div {
  background: #f2c64e;
  opacity: 0.9;
  border-radius: 5px;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  margin-top: 10px;
}

.monitor-header-div {
  display: flex;
}

.params-header-div {
  flex: 1;
  padding: 1em;
  text-align: left;
  color: #262626;
  opacity: 0.8;
}

.settings-header-div {
  flex: 1;
  padding: 1em;
  text-align: left;
  color: #262626;
  opacity: 0.8;
}

.settings-header {
  display: flex;
  background: #f2c64e;
  opacity: 0.8;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: auto;
  width: 80%;
  margin: 0 auto;
}

.settings-second-div {
  display: flex;
}

.monitor-params {
  flex: 1;
  text-align: left;
  color: #fff;
}

.monitor-params p {
  border-bottom: 1px solid #262626;
  margin: 0.5em 0.8em 1em 0.8em;
}

.monitor-settings {
  flex: 1;
  text-align: left;
  color: #fff;
}

.monitor-settings p {
  border-bottom: 1px solid #262626;
  margin: 0.5em 0.8em 1em 0.8em;
}

.camera-parameters-header {
  flex: 1;
  text-align: left;
  color: #262626;
  opacity: 0.9;
  padding: 1em;
}

.camera-settings-header {
  flex: 1;
  text-align: left;
  color: #262626;
  opacity: 0.9;
  padding: 1em;
}

.parent-div {
  display: flex;
  background: #f2c64e;
  opacity: 0.9;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 80%;
  height: auto;
  margin: 0 auto;
}

.parent-div p {
  margin: 1em 0.8em 1em 0.8em;
  border-bottom: 1px solid #262626;
}

.camera-parameter {
  flex: 1;
  text-align: left;
  color: #fff;
}

.camera-settings {
  flex: 1;
  color: #fff;
}

/* NavBar Styling */
.navbar {
  position: fixed;
  width: 100%;
  font-size: 18px;
  background-color: #262626;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
  opacity: 0.9;
  border-bottom: 5px solid #f2c64e;
  z-index: 9999;
}

.main-nav {
  margin-top: 40px;
  list-style-type: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.main-nav {
  margin-top: 20px;
}
.main-nav li {
  text-align: left;
  padding-left: 20px;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
  padding-top: 10px;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: white;
  font-size: 24px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.active {
  display: block;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 4px;
  background-color: white;
  margin: 8px;
  transition: 0.4s;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-8px, 7px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-9px, -9px);
}

.container {
  padding: 10px 15px 0;
  float: right;
  display: inline-block;
  cursor: pointer;
}
